{% extends '@App/base.html.twig' %}

{% block body %}
<div class="row">
    <div class=" col-md-offset-4 col-md-4 ">
        <h3>Tworzenie produktu</h3>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-bg btn-success" type="submit" value="Create" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('admin_page') }}">powrót do Panelu Admina</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
