{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Witaj ! użytkownik {{ user.username }} został zarejestrowany</p>
{% endblock fos_user_content %}
